<div class="container">


<h1>User Posts Index</h1>

<button type="button" class="btn btn btn-default"><%= link_to 'Create New Post', new_userpost_path %></button>
<button type="button" class="btn btn btn-default"><%= link_to 'User Login', auth_provider_path %></button>

<p>
  <%= render 'usersearch', route: userposts_path %>

</p>


<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>title</th>

        <th>actions</th>
      </tr>
    </thead>
  <tbody>

<% @userposts.each do |userpost| %>
    <tr>
        <td><%= truncate(userpost.title, length: 60, separate: '' ) %></td>
          <td><%= status_converter(userpost.publish, truthy: 'Active', falsey: 'Pending') %></td>
            <td><%= link_to 'Edit', edit_userpost_path(userpost) %></td>
            <td><%= link_to 'Show', userpost_path(userpost) %></td>
            <td><%= link_to 'Delete', userpost_path(userpost), style: 'color: red',method: :delete, data: {confirm: 'Are you sure?'} %></td>

    </tr>

<% end %>

  </tbody>

</table>
<div class="text-center">
<p><%= will_paginate @userposts %></p>
</div>

</div>
